/* Variables */
:root {
    --nav-font: 1.2rem;
    --h1-font: 2rem;
    --h2-font: 1.5rem;
    --p-font: 1rem;
    --btn-font: 1rem;
    --input-font: .9rem;
    --img-laptop: 220px;
    --img-tablet: 150px;
}

/* Reset CSS */
* {
     margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

/* Elements reset */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container{
    margin: 0px;
    /*width: 60%; */
}



/* Header Admin and user*/
    #navbar1 {
        background: rebeccapurple;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-size: var(--nav-font);
    }

    .navbar-contents{
        padding: 3px 20px;
        display: flex;
        justify-content: space-between;
    }

    #left-nav{
        display: block;
    }
    .navbar1-ul {
        display: flex;
        align-items: center;
        height: 40px;
    }

    .items{
        margin:0px 6px;
        color: #dae3e3;
    }

    /* Navigation Bar: logo img */
    #logo {
        padding: 0px;
    }

    #logo img {
        width: 40px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid wheat;
    }

    .nav-btn{
        font-size: var(--nav-font);
        border-radius: 4px;
        border: none;
        color: #dae3e3;
        padding: 4px 6px;
        background-color:rebeccapurple;
        transition: linear .5s;
    }

    .nav-btn:hover {
        background: rgb(226, 231, 233);
        color: black;
    }

    .cart{
        font-size: var(--p-font);  
    }


    #right-nav{
        display: block;
    }

    .search-btn{
        font-size: var(--p-font);
        border-radius: 4px;
        border: 1px solid wheat;
        color: #dae3e3;
        padding: 4px 6px;
        background-color:rebeccapurple;
        transition: linear .5s;
    }

    .search-btn:hover {
        background: rgb(226, 231, 233);
        color: black;
    }

    #input-search{
        font-size: var(--input-font);
        padding: 3px 2px;
        border-radius: 3px;
        border: none;
        color: black;
    }
    #navbar2 {
        background: rgb(109, 74, 145);
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-size: var(--p-font);
    }

    #navbar2-ul {
        display: flex;
        align-items: center;
        height: 25px;
    }

    #navbar2 a{
        color: #dae3e3;
    }

    .nav-select{
        padding: 1px 2px;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        font-family: system-ui;
    }

/* End of Header */

/* Main heading User*/
    #main-heading{
        font-family: math;
        text-align: center;
        padding: 10px 0px 0px 0px;
        
    }

/* Content Admin */
    .form_modelbox{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100; 
    }

    .form_div{
        position: relative;
        border: 2px solid #293946;
        background: white;
        width: 45%;
        margin: auto;
        top: 8%;
    } 

    .form{
        margin: 0px;
        border: 1px solid grey;
        padding: 0px 0px 25px 0px;
        font-family: system-ui;
    }

    .form_header{
        text-align: center;
        padding: 3px 0px 3px 0px;
        background: #45627a;
        color: #e1e4e7;
    }
    
    .form_body{
        width: 65%;
        margin: auto;
    }
    .form_row{
        margin: 7px 0px;
    }

    .form_btn{
        cursor: pointer;
        padding: 5px 15px;
        margin: 0px 10px;
        font-family: system-ui;
        background: #9aaab7;
        border: none;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 600;
        transition: all linear .5s;
    }

    .form_btn:hover{
        background: #45627a;
        color: #e1e4e7;
    }

    .form_input{
        padding: 4px 3px;
        width: 100%;
        font-family: unset;
        border: 2px solid #6b6b6e;
        border-radius: 3px;
    }

    .form_linebreak{
        padding: 10px 0px;
    }

    .field_name{
        font-size: 15px;
    }   

    .field_err_msg{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #a50e0e;        
    }
    
    .form_msg{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: var(--p-font);
        padding: 5px 0px;
    }
    
    /* add brand form */
    #add_bform_modelbox{
        display: none; 
      
    }
    /* add category form */
    #add_cform_modelbox{
        display: none; 
      
    } 
    /* add product form */
    #add_pform_modelbox{
        display: none; 
      
    } 

    #add_pform_brand{
        padding: 4px 3px;
        font-size: 15px;
        width: 100%;
        font-family: unset;
        border: 2px solid #6b6b6e;
    }

    #add_pform_category{
        padding: 4px 3px;
        font-size: 15px;
        width: 100%;
        font-family: unset;
        border: 2px solid #6b6b6e;
    }

    /*Messages*/
    /* Error message */
    .err_msg{
        color: #a50e0e;
        background: #d9cfcf;
    }

    /* success message */
    .suc_msg{
        color: rgb(8, 68, 33);
        background: #d9cfcf;       
    }

    /* Process message */
    .pro_msg{
       color: rgb(28, 36, 31);
       background: #d9cfcf;
    }

    
/* Contents User */
    #contents{
        width: 100%;
        display: flex;
    }

    #products{
        display: block;
        width: 80%;
    }

    #cards-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card{
        border: 2px solid #7c540b;
        margin: 0px 5px 5px 5px;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        width: 14rem;
    }

    .card-img{
        height: 100px;
        width: 100%;
        object-fit: contain;
    }

    .card-title{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 2px 0px;
        font-size: 16px;
    }
    .card-text{
        font-family: math;
        margin: 1px 0px 10px 0px;
    }
    .card-btn{
        background-color: rgb(83 143 143);
        color: #f7f3ef;
        padding: 5px;
        border: none;
        border-radius: 3px;
        margin: 5px;
        font-family: math;
        transition: all linear .5s;
    }

    .card-btn:hover{
        background-color: #057c72;
        color: #f1f0f3;
    }

    #side-nav-bar-div{
        display: block;
        width: 19%;

    }
    #side-nav{
        background: #a27fc3;
        text-align: center;
        font-family: sans-serif;
    }


    .side-nav-h{
        padding: 5px 0px;
        background-color:rebeccapurple;
        font-size: (var(--p-font));
        color: #f7f3ef;
    }

    .side-nav-hov{
        display: block;
        padding: 5px 0px;
        color: #3a3837;
        transition: all linear .5s;
    }

    .side-nav-hov:hover{
        color: #f3eee9;
        background-color: #8763ab;
    }


/* Footer Admin user*/
    footer{
        text-align: center;
        font-size: var(--input-font);   
        color: #dae3e3;
        background-color:rebeccapurple;
        padding: 4px 0px;
    }